.Root {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .replies-container {
        display: flex;

        margin-left: 6rem;

        .handle {
            #height {
                display: block;

                height: calc(100% - 8rem);
                width: 3px;

                background-color: rgba(130, 135, 141, 1);
            }

            #width {
                display: block;

                height: 3px;
                width: 2rem;

                background-color: rgba(130, 135, 141, 1);
            }
        }

        .replies {
            width: 100%;
            height: 100%;
        }
    }
}
