.App {
    height: calc(100vh - 10rem);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5rem 5rem 5rem 5rem;

    border-radius: 1rem;

    background-color: rgba(236, 238, 241, 1);
}
